body{

    background-color: rgb(192, 147, 147);
    margin: 0;
}
nav{

    background-color: rgb(0, 238, 255);
    height: 70px;
    display: flex;
    align-items: center;
    gap: 60px;
    padding-left: 500px;

}
.conteudo{

    display: flex;
}
aside{
    background-color: rgb(0, 23, 255);
    width: 800px;
   min-height: 100vh;
    left: 0px;
    top: 0;
    gap: 40px;
    flex-direction: column;
   
    
}
main {
    margin-left: 100px;
    padding: 30px;
    margin-top: 160px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}
input{

    height: 30px;
    width: 300px;
    border-radius: 5px;

}
#perfil{

    width: 100px;
    margin-top: 5px;
    left: 1250px;
}
a{

    right: 100px;
}

.card{

    background-color:rgb(255, 0, 157);
    width: 190px;
    height: 190px;
    border-radius: 10px;
}
.notification{

    background: transparent;
    width: 60px;
    height: 60px;
    font-size: 40px;
    border: transparent;
}
.lateral{

    width: 100%;
    height: 70px;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    font-size: 20px;

}
button{

    cursor: pointer;
}

